@{
    ViewData["Title"] = "Privacy";
}
<h3>Crédito:</h3>

<p>Projeto de um torneio de luta por: <span id="autorProjeto"></span> </p>


<script>
    var name = "João Augusto Rudge";

    document.getElementById("autorProjeto").textContent = name;

</script>